@media only screen and (max-width: 600px) {
  /*Home*/
  .home {
    width: 100%;
    padding: 9px;
    flex-direction: column;
    background: linear-gradient(-110deg, #111 75%, #111 60%);
  }
  .home-content {
    text-align: center;
    width: 100%;
    margin-top: 0px;
    padding-right: 0px;
  }
  .title-color::after {
    display: none;
  }
  .home-content h1 {
    font-size: 26px;
    line-height: 42px;
    margin: auto;
    padding-left: 0px;
    text-align: center;
    width: 100%;
    font-weight: 800;
  }
  .home-image {
    border-radius: 50%;
    width: 220px;
    height: 220px;
    border: 4px solid #252525;
    margin: 0 auto 25px;
    margin-top: 150px;
    background-position-y: center;
  }
  .home-content p {
    padding-top: 10px;
  }
  .home-button {
    margin: auto;
  }
  /**/
  .nav {
    left: 0;
    right: auto;

    top: auto;
    transform: none;
    width: 100%;
  }
  .nav ul {
    display: flex;
    justify-content: space-around;

    background: #2b2a2a;
  }
  .nav li {
    margin: 0;

    height: 65px;
    padding: 8px;
  }
  .nav i {
    background: #444;
    transition: 0.4s;
  }
  .nav p {
    display: none;
  }
  .nav i:hover {
    background: hsl(42, 100%, 50%);
  }
  /*About*/
  .about-title {
    display: none;
  }
  .about-image {
    border-radius: 50%;
    width: 220px;
    height: 220px;
    display: block;
    border: 4px solid #252525;
    margin: 0 auto 25px;
    margin-top: 150px;
    background-position-y: center;

    margin: auto;
    align-items: center;

    background-position-y: center;
  }
  .info {
    width: 100%;
  }
  .info h1 {
    font-size: 20px;
    font-weight: 800;
    width: 100%;
    padding-bottom: 20px;
  }
  .info-data {
    width: 100%;
  }
  .info-data p {
    width: 70%;
  }
  .about-subtitle {
    padding-left: 0;
    font-size: 35px;
    padding-left: 40px;
  }
  .about-secondtitle {
    font-size: 35px;
  }
  .about-me {
    flex-direction: column;
  }
}
