@media only screen and (max-width: 600px) {
  /*Home*/
  .home {
    width: 100%;
  }
  .home-display {
    flex-direction: column;
  }

  .home-image {
    border-radius: 50%;
    width: 220px;
    height: 220px;
    border: 4px solid #252525;
    margin: 0 auto 25px;
    margin-top: 150px;
    background-position-y: center;
  }
  .home-background {
    display: none;
  }
  .home-content {
    text-align: center;
    margin: 0 auto 0px;
    width: 100%;
    padding-right: 0%;
  }
  .home-content h1 {
    margin: auto 5px;
    padding-right: 58px;
    font-size: 23px;
    font-weight: 800;
  }
  .home-content p {
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 20px;

    padding-top: 20px;
  }
  .home-button {
    margin: 0 auto 0px;
  }
  .nav {
    left: 0;
    right: auto;
    bottom: 0;
    top: auto;
    transform: none;
    width: 100%;
    background: #2b2a2a;
    padding: 0px;
  }
  .nav li {
    margin: 8px;
  }
  .nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .home-icon {
    background: #444;

    transition: 0.4s;
  }
  .link {
    display: none;
  }
  .home-icon:hover {
    background-color: hsl(42, 100%, 50%);
  }
  /*About*/
  .about-image {
    display: block;
    background-image: url("../images/dark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 4px solid #252525;
    margin: 0 auto 25px;
    margin-top: 150px;
    background-position-y: center;
  }
  .about-title {
    display: none;
  }

  .about-subtitle {
    padding-left: 40px;
    font-size: 35px;
  }
  .about-secondtitle {
    font-size: 35px;
  }
  .personal-title {
    bottom: 720px;
    left: -40px;
  }
  .personal-info {
    padding-left: 15px;
    width: 30%;
    padding-top: 0%;
  }
  .personal-info p {
    padding-left: 0px;
  }
  .info {
    flex-direction: column;
    margin-top: 0;
  }
}
