@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 900px) {
  /*Home*/
  .home {
    width: 100%;
    padding: 9px;
    flex-direction: column;
    background: linear-gradient(-110deg, #111 75%, #111 60%);
  }
  .home-content {
    text-align: center;
    width: 100%;
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .title-color::after {
    display: none;
  }
  .home-content h1 {
    font-size: 50px;
    line-height: 50px;
    margin: auto;
    padding-left: 0px;
    text-align: center;
    width: 100%;
    font-weight: 800;
    padding-bottom: 20px;
  }
  .home-image {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 4px solid #252525;
    margin: 0 auto 25px;
    margin-top: 150px;
    background-position-y: center;
  }
  .home-content p {
    padding-top: 10px;
    font-size: 20px;
  }
  .home-button {
    margin: auto;
  }
  /**/
  .nav {
    left: 0;
    right: auto;

    top: auto;
    transform: none;
    width: 100%;
  }
  .nav ul {
    display: flex;
    justify-content: space-around;

    background: #2b2a2a;
  }
  .nav li {
    margin: 0;

    height: 65px;
    padding: 8px;
  }
  .nav i {
    background: #444;
    transition: 0.4s;
  }
  .nav p {
    display: none;
  }
  .nav i:hover {
    background: hsl(42, 100%, 50%);
  }
  /*About*/
  .about {
    height: 100%;
  }
  .about-title {
    display: none;
  }
  .about-image {
    border-radius: 20%;
    width: 320px;
    height: 320px;
    display: block;
    border: 4px solid #252525;

    background-position-y: center;

    align-items: center;

    background-position-y: center;
  }
  .info {
    width: 100%;
  }
  .info h1 {
    font-size: 20px;
    font-weight: 800;
    width: 100%;
    padding-bottom: 20px;
  }
  .info-data {
    width: 100%;
    padding-bottom: 0%;
    display: flex;
  }
  .info-data span {
    display: block;
    color: #adb5bd;
  }
  .info-data p {
    width: 70%;
    font-size: 25px;
  }
  .about-subtitle {
    padding-left: 0;
    font-size: 35px;
    padding-left: 20px;
  }
  .about-secondtitle {
    font-size: 35px;
  }
  .about-me {
    flex-direction: column;
  }
  .experience {
    width: calc(50% - 4%);
    margin-top: 10px;
    margin-left: 0px;
  }
  .experience-years {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .experience-container {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 80px;
  }
  .year-experience p::before {
    display: none;
  }
  .year-experience p {
    padding-left: 0px;
  }
  /*Portflio*/

  .portfolio-title {
    padding-left: 0;
    font-size: 35px;
    padding-left: 20px;
  }
  /*Contact*/
  .contact-title {
    display: none;
  }
  .contact-subtitle {
    padding-left: 0px;
    font-size: 35px;
    padding-left: 20px;
  }
  .contact-display {
    flex-direction: column;
  }
  .contact-icon {
    width: 100%;
  }
  .form {
    width: 100%;
  }
  .form-display {
    display: block;
    width: 100%;
  }
  .form-group {
    display: block;
    width: 100%;
  }
  .form-group2 {
    width: 100%;

    display: block;
  }
  .form-group input {
    width: 100%;
  }
  .form-group textarea {
    width: 100%;
  }
  .form-group2:first-child {
    padding-right: 0px;
  }
  .contact-submit {
    background-color: #111;
    border: 1px solid #ffb400;
    color: white;

    border-radius: 50px;
    margin-top: 30px;
    font-size: 17px;
    transition: 0.4s;
    cursor: pointer;
    margin-bottom: 150px;
  }
  .required {
    top: 54%;
  }
  .required1 {
    top: 60.5%;
  }
  .required2 {
    top: 67%;
  }
  .required3 {
    top: 82%;
  }
}
@media only screen and (max-width: 600px) {
  /*Home*/
  .home-content h1 {
    font-size: 26px;
    line-height: 42px;
    margin: auto;
    padding-left: 0px;
    text-align: center;
    width: 100%;
    padding-bottom: 0px;
    font-weight: 800;
  }
  .home-content p {
    font-size: initial;
  }
  .home-image {
    border-radius: 50%;
    width: 220px;
    height: 220px;
    border: 4px solid #252525;
    margin: 0 auto 25px;
    margin-top: 150px;
    background-position-y: center;
  }
  /*About*/
  .about-image {
    border-radius: 50%;
    width: 220px;
    height: 220px;
    display: block;
    border: 4px solid #252525;
    margin: 0 auto 25px;
    margin-top: 150px;
    background-position-y: center;

    margin: auto;
    align-items: center;

    background-position-y: center;
  }
  .info-data p {
    width: 70%;
    font-size: 15px;
  }
  /*Contact*/
  .required {
    top: 56%;
  }
  .required1 {
    top: 62%;
  }
  .required2 {
    top: 68%;
  }
  .required3 {
    top: 82%;
  }
}
